.barra{
    display: flex;
    .logo{
        flex: 10%;

    }
    .menu{
        display: flex;
        justify-content: space-evenly;
        flex: 70%;
        flex-wrap: wrap;
    }
}